.ant-input {
  width: 60px;
  background: #172422;
  border: 1px solid #193d37;
  border-radius: 2px;
  color: #8f9598;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: none;
}
.ant-input:hover {
  background: #172422;
  border: 1px solid #ffb000;
  color: #8f9598;
}
.ant-input:focus {
  background: #ff9300;
  border: 1px solid #ffb000;
  color: #000000;
}

.disabled {
  background: #303231;
  border: 1px solid #4a4d4c;
  color: #4a4d4c;
}
